@font-face {
    font-family: cocogoose_main;
    src: url(fonts/Cocogoose-Narrow-Semilight-trial.ttf);
}

@font-face {
    font-family: cocogoose_light;
    src: url(fonts/Cocogoose-Narrow-Ultralight-trial.ttf);
}

@font-face {
	font-family: roboto;
	src: url(fonts/Roboto.ttf);
}

@font-face {
    font-family: bebas;
    src: url(fonts/BebasNeue.otf);
}

body {
    background-image: url(images/book.png);
    background-repeat: repeat;
}

#centerRow {
	border: 3px solid #FCE181;
	margin-top: 3%;
	padding: 20px;
	width: 100%;
    background-image: url(images/transparent-bg.png);
    background-repeat: repeat;
}

#centerTitle {
	font-family: cocogoose_main;
	font-size: 2em;
	margin-left: -5px;
	margin-bottom: 30px;
}

#studentImage {
	height: 250px;
	width: 250px;
}


.studentDetails {
	font-family: roboto;
	font-weight: bold;
	font-size: 1.4em;
	margin-top: -15px;
}

.studentStatusDiv {
    margin-top: -8px; 
}

.identifier {
	font-family: roboto;
	font-size: 1.2em;
}

.tabSentences {
    font-family: bebas;
}

.studentTab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #026670;
    color: white;
    font-family: cocogoose_light;
}

.studentTab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.studentTab button:hover {
    background-color: #9FEDD7;
    color: #484b4f;
}

.studentTab button.active {
    background-color: #a3a5a8;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#studentTabs {
	margin-top: 30px;
}

.trashBtn {
	font-size: 1.4em;
}